:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --light: #ddd;
  --dark: #222;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  position: relative;
}

#catalog {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  & > div {
    border: 1px solid var(--light);
    text-align: center;
    padding: 0 1em;
    opacity: 0.8;

    &.selected {
      opacity: 1;
      border: 1px inset #fff;
      background-color: #000;
    }

    h1, h3 {
      margin: 0;
    }

    h1 {
      font-size: 1.5em;
      margin-top: 0.5em;
    }
  }
}

ul.menu {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;

  li {
    margin: 0 2px;

    img {
      width: 48px;
      opacity: 0.5;
      cursor: pointer;
    }
  }
}

#menu {
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-around;
  background-color: #333;
  border-bottom: 1px outset #444;

  li {
    flex: 1;
    text-align: center;
    border: 1px outset #666;

    &.disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }

  a {
    margin: 0;
    color: var(--light);
    text-decoration: none;
    display: inline-block;
    width: 100%;
  }

  li.selected {
    border-style: inset;
    background-color: #000;
  }
}

#selection {
  i {
    font-weight: bold;
  }
}